@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="content-wrapper">

    @await Component.InvokeAsync("FeatureStatistics")

    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bütçe Geçmişi</h4>
                    <canvas id="transaction-history" class="transaction-chart"></canvas>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div class="text-md-center text-xl-left">
                            <h6 class="mb-1">Proje Ödemeleri</h6>
                            <p class="text-muted mb-0">23 Aralık 2022, 09:36</p>
                        </div>
                        <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                            <h6 class="font-weight-bold mb-0">$2360</h6>
                        </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div class="text-md-center text-xl-left">
                            <h6 class="mb-1">Reklam Gelirleri</h6>
                            <p class="text-muted mb-0">23 Aralık 2022, 09:36</p>
                        </div>
                        <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                            <h6 class="font-weight-bold mb-0">$5930</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @await Component.InvokeAsync("Last5Projects")

    </div>

    @await Component.InvokeAsync("StatisticDashboard2")
    @await Component.InvokeAsync("ProjectList")

    <div class="row">
        @await Component.InvokeAsync("MessageList")
        @await Component.InvokeAsync("SlideList")
        @await Component.InvokeAsync("ToDoListPanel")

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ziyaret Edilen Ülkeler</h4>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-pt"></i>
                                            </td>
                                            <td>Portekiz</td>
                                          <tr> 
                                              <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-es"></i>
                                            </td>
                                            <td>İspanya</td>
                                          <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-de"></i>
                                            </td>
                                            <td>Almanya</td>
                                          </tr>
                                             <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-fr"></i>
                                            </td>
                                            <td>Fransa</td>
                                          </tr>      
                                          <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-be"></i>
                                            </td>
                                            <td>Belçika</td>
                                          </tr>
                                            <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-nl"></i>
                                            </td>
                                            <td>Hollanda</td>
                                          </tr>
                                                <tr>
                                            <td>
                                                <i class="flag-icon flag-icon-ge"></i>
                                            </td>
                                            <td>Gürcistan</td>
                                          </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div id="audience-map" class="vector-map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

