@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="card-description">Proje Düzenleme Sayfası </p>
            <form class="forms-sample" action="EditPortfolio" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label>Proje Başlığı</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Görsel 1</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Görsel 2</label>
                    <input type="text" class="form-control" asp-for="ImageUrl2" />
                    <span asp-validation-for="ImageUrl2" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Fiyat</label>
                    <textarea class="form-control" asp-for="Price"></textarea>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Proje URL</label>
                    <textarea class="form-control" asp-for="ProjectUrl"></textarea>
                    <span asp-validation-for="ProjectUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tamamlanma Oranı</label>
                    <textarea class="form-control" asp-for="Value"></textarea>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label>Platform</label>
                    <textarea class="form-control" asp-for="Platform"></textarea>
                    <span asp-validation-for="Platform" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-info">Güncelle</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>
