@using EntityLayer.Concrete
@model List<Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Hizmet Listesi Tablosu</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Başlık</th>
                            <th scope="col">Görsel</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Düzenle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ServiceId
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.ImageUrl
                                </td>
                                <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Service/EditService/@item.ServiceId" class="btn btn-outline-success">Güncelle</a></td>

                            </tr>
                         }
                    </tbody>
                </table>
                <br />
                <a href="/Service/AddService/" class="btn btn-primary"> Yeni Hizmet Ekle</a>
            </div>

        </div>
    </div>
</div>

