@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<partial name="_HeadPartial" />

<body>

    <div class="container-scroller">
       
        <partial name="_NavBarPartial" />
   
        <div class="container-fluid page-body-wrapper">
            <partial name="_SideBarPartial" />
         
            <div class="main-panel">
                <div class="content-wrapper">
                   
                        @RenderBody()
                   
                </div>
            </div>
        </div>
    </div>
    <partial name="_ScriptsPartial" />

</body>

</html>

